name: "Deploy Dev to Play Store"

on:
  workflow_dispatch: { }
  push:
    branches: [ main ]
    tags:
      - "dev-*"
    paths:
      - 'lib/**'
      - 'android/**'
      - 'pubspec.yaml'

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  unit-tests:
    uses: ./.github/workflows/unit-tests.yml

  deploy:
    runs-on: ubuntu-latest
    needs: [ unit-tests ]
    env:
      AWS_REGION: "ca-central-1"
      AWS_ROLE: "arn:aws:iam::583168578067:role/HeartGitHubActionsDeployRole"
    steps:
      - uses: actions/checkout@v4

      - name: "Configure AWS Credentials"
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.AWS_ROLE }}
          aws-region: ${{ env.AWS_REGION }}

