name: "Deploy Dev to Play Store"

on:
  workflow_dispatch: { }
  push:
    branches: [ main ]
    tags:
      - "dev-*"
    paths:
      - 'lib/**'
      - 'android/**'
      - 'pubspec.yaml'
      - 'shared/**'

permissions:
  id-token: write
  contents: read

concurrency:
  group: "android-dev"
  cancel-in-progress: true

jobs:
  deploy:
    uses: ./.github/workflows/google-play-deployment.yml
    with:
      app_id: 'me.heart.android.dev'
      aws_region: 'ca-central-1'
      aws_role: 'arn:aws:iam::583168578067:role/HeartGitHubActionsDeployRole'
      environment: 'dev'
      flavor: 'dev'
      secrets_bucket: '583168578067-heart-static'
      track: 'internal'